<ng-container>
      <button status="primary" nbButton hero [nbContextMenu]="items">
        {{currentModule.acronym}} (Change module)
      </button>

    <nb-card-body>



      <nb-card>
        <nb-card-header>
          List of components
        </nb-card-header>
        <nb-card-body>
          <ng2-smart-table [settings]="componentsSettings" [source]="componentSource"
                           (deleteConfirm)="onDeleteConfirm($event)"
                           (editConfirm)="onSaveConfirm($event)"
                           (createConfirm)="onCreateConfirm($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          List of enroled student
        </nb-card-header>
        <nb-card-body>
          <ng2-smart-table [settings]="studentsSettings" [source]="studentsSource"
                           (deleteConfirm)="onDeleteConfirm($event)"
                           (editConfirm)="onSaveConfirm($event)"
                           (createConfirm)="onCreateConfirm($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
</ng-container>