nb-card {
  width: 50%;
  margin: auto;

  .login-form {

    .form-group {
      padding-top: 20px;

      &.buttons {
        text-align: center;

        a {
          display: block;
        }
      }
    }

  }
}

