<nb-card>
  <nb-card-body>
    <div class="breadcrumb-wrapper">
      <div class="site-nav-wrap">
        <nav class="nav">
          <div class="single-breadcrumb-wrap">
            <span class="sep"><i class="fas fa-chevron-right"></i></span> <span class="breadcrumb"><a routerLink="/">Home</a></span>
          </div>
          <div class="single-breadcrumb-wrap">
            <span class="sep"><i class="fas fa-chevron-right"></i></span> <span
            class="breadcrumb"><a>Students</a></span>
          </div>
        </nav>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>
    List of students
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (editConfirm)="onSaveConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
