<ng-container>
  <div class="site-nav-wrap">
    <nav class="nav">
      <div class="single-breadcrumb-wrap">
        <span class="sep"><i class="fas fa-chevron-right"></i></span> <span class="breadcrumb"><a href="/">Home</a></span>
      </div>
      <div class="single-breadcrumb-wrap">
        <span class="sep"><i class="fas fa-chevron-right"></i></span> <span class="breadcrumb">{{module?.name}}</span>
      </div>
    </nav>
  </div>

  <nb-tabset fullWidth>
    <nb-tab tabTitle="My grades">
      <nb-card>
        <nb-card-header>
          List of the assigments
        </nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let component of module?.components">
            <p>Name: {{ component.name }}</p>
            <p>Coefficient: {{component.coefficient}}</p>
            <p>Pass date: {{component.pass_date | date: 'dd/MM/yyyy'}}</p>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </nb-tab>

    <nb-tab tabTitle="Charts">
      <div class="col-lg-6">
        <nb-card>
          <nb-card-header>Means</nb-card-header>
          <nb-card-body>

            <chartjs-line></chartjs-line>
          </nb-card-body>
        </nb-card>
      </div>
    </nb-tab>
  </nb-tabset>


</ng-container>